@charset "utf-8";

html {
  background-color: #f6f2ed;
}

body {
  background-color: #dfd6ce;
  margin: 0 auto;
  max-width: 1200px;
  border-radius: 10px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px 0;
  font-size: 25px;

  h1 {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #808000;
    margin: 40px 0 30px;
  }
  & > div {
    box-sizing: border-box;
    width: 400px;
  }
}

label {
  font-size: 16px;
  font-weight: bold;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin-right: 10px;
}

.wrapper_nickname,
.wrapper_username,
.wrapper_password,
.wrapper_confirm_password,
.wrapper_email,
.wrapper_confirmEmail,
.wrapper_phone,
.wrapper_zipcode,
.wrapper_address1,
.wrapper_address2 {
  font-size: 14px;
  font-weight: bold;
  color: #808000;
  margin: 8px 20px 8px 0;
}

.input {
  background-color: #e6e1db;
  border: none;
  border-radius: 5px;
  font-size: 15px;
  line-height: 22px;
  height: 40px;
  color: #222;
  box-sizing: border-box;
}

.password_container {
  position: relative;
  display: flex;
  align-items: center;

  .input {
    width: 100%;
    padding-right: 40px; /* 버튼이 겹치지 않도록 오른쪽 여백 추가 */
  }

  .btn_show {
    position: absolute;
    right: 10px; /* 입력 필드의 오른쪽 끝에 배치 */
    background: transparent;
    border: none;
    cursor: pointer;
  }
}

[class*="Join_wrapper"] {
  display: flex;
  align-items: center;
  position: relative;
  min-height: 50px;
  padding: 0 10px 0 45px;

  & + [class*="wrapper"] {
    margin-top: -1px;
  }

  &:first-child {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &.is_focus {
    z-index: 10;

    &::after {
      border: 1px solid 400;
    }
  }

  &.is_error {
    z-index: 20;

    &::after {
      border: 2px solid #ff3f3f; // 테두리
    }
  }
}

.password_info {
  flex: none;
  padding: 0 5px;
}

.btn_show {
  margin-left: 4px;
  border: none;
  &.is_hide {
    &::before {
      background-position: -256px -264px;
    }
  }

  &::before {
    background-position: -256px -296px;
    background-repeat: no-repeat;
    background-image: url(https://ssl.pstatic.net/static/nid/join/m_sp_06_realname_48b1e603.png);
    background-size: 372px 326px;
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: top;
    content: "";
  }
}

.error_text {
  position: relative;
  margin: 8px 4px 10px;
  padding-left: 8px;
  font-size: 13px;
  line-height: 18px;
  color: #ff3f3f; // 요청 문구
  font-weight: 600;
  text-align: left;

  &::before {
    position: absolute;
    top: 7px;
    left: 0;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: #ff3f3f; // 요청 문구 앞 글머리꼴
    content: "";
  }
}

.btn_submit {
  width: auto;
  padding: 0px 80px;

  input {
    width: 100%;
    padding: 14px 0;
    border-radius: 50px;
    border: none;
    background: #808000;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    color: #fff;
    margin-bottom: 30px;
    cursor: pointer;
  }

  &.is_dimmed {
    opacity: 0.5;
    pointer-events: none;
  }
}

.profile_img {
  width: 100%;
  border-radius: inherit;
}
