.login_btn_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social_login_btn_wrap {
  margin: 0;
  display: flex;
}

.naver_btn {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background: url("http://localhost:3000/images/ico_naver.png") 0 0/40px 40px no-repeat;
}

.kakao_btn {
  margin-right: 15px;
  width: 40px;
  height: 40px;
  background: url("http://localhost:3000/images/ico_kakao.png") 0 0/40px 40px no-repeat;
}

.google_btn {
  width: 40px;
  height: 40px;
  background: url("http://localhost:3000/images/ico_google.png") 0 0/40px 40px no-repeat;
}

.module_login_btn {
  margin: 0;
}